<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATM</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <h1>menu ATM</h1>
    <p>selamat datang</p>
    <ul>
        <li><a href="/saldo">cek salo</a></li>
        <li><a href="/setor">setor tunai</a></li>
        <li><a href="/tarik">tarik tunai</a></li>
        <li><a href="/riwayat">riwayat</a></li>
        <li><a href="/logout">logout</a></li>
    </ul>


</body>
</html>