<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>riwayat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>riwayat transaksi</h1>
    {% if riwayat %}
        <ul>
        {% for item in riwayat %}
            <li>{{ item['jenis'] }} - Rp{{ item['jumlah'] }}</li>
        {% endfor %}
        </ul>
    {% else %}
    <p>belum ada riwayat</p>
    {% endif %}
    <a href="/menu">kembali ke mmenu</a>
</body>
</html>